<!DOCTYPE html>
<html  ng-app="myapp">
<head>
    <meta charset="UTF-8"/>
    <base href='/'>
    <title ng-bind="title"></title>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular-route.js"></script>
    <link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript"></script>
    <script src="/controllers/config.js"></script>
   </head>
