<%include head%>

    <style>
    input{
      width: 140px;
      height: 25px;
      font-size: 15px;
    }
    select{
      width: 150px;
      height: 30px;
      font-size: 12px;
    }
    .btn-register{
      width: 240px;
      height: 40px;
      font-size: 15px;
    }
    </style>
</head>
<body>
    <div class="container-fluid" >
      <div class="row-fluid">
        <div class="span12" style="color: white;background-color: black;">
          <h2 class="text-center">XXXXXXXXXXXX</h2>
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container-fluid">
                  <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                  </a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav pull-right">
                      <li><a href="/register">注册</a></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row-fluid"  ng-controller="loginController">
      <center><h3>用户登录</h3><br>
        用&nbsp;&nbsp;户&nbsp;&nbsp;名&nbsp;&nbsp;&nbsp;：
          <input id="username" type="text" autocomplete="off"   ng-model="username" ng-click="clearErrorInfo()"/><br>
         
        密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;&nbsp;&nbsp;：
          <input id="password" type="password"  ng-model="password" ng-click="clearErrorInfo()"/><br>

        用户类型&nbsp;&nbsp;&nbsp;&nbsp;：
          <select ng-init="usertype = user[0]" ng-model="usertype" ng-options="x for x in user">
          </select><br>
        <button id="btnSub" type="submit" class="btn btn-success btn-lg btn-register" ng-click="login()">登录</button>
            <p class="text-danger" style="color:red;" ng-bind="errorInfo"></p>
        
      </center>
      </div>
    </div>
    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <!--<script type="text/javascript" src="/controllers/login-controller.js"></script>-->
    <script type="text/javascript" src="/users/controllers/user.client.login.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
</body>
</html>
