<%include head%>
   <script src="/controllers/manager-controller.js"></script>
<body>
<div class="container-fluid" ng-controller="managerController">
  <div class="row-fluid">
    <div class="span12" style="color: white;background-color: black;">
      <h2 class="text-center">停车场数据管理系统</h2>
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container-fluid">
             <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
             <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                  <li class="active"><a ng-click="Index()">主页</a></li>
                  <li class="active"><a ng-click="QuaryCar()">查询</a></li>
                </ul>
                <ul class="nav pull-right">
                  <li class="dropdown">
                     <a data-toggle="dropdown" class="dropdown-toggle" href="#">设置<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                      <li><a ng-click="AlterInfo()">更改管理员信息</a></li>
                      <li><a ng-click="DeletePark()">删除停车场</a></li>
                      <li><a ng-click="AddPark()">添加停车场</a></li>
                    </ul>
                  </li>
                  <li><a ng-click="logout()">注销登录</a></li>
                </ul>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="row-fluid" ng-show="addpark">
    <center><br><br><br><br>
        停车场名称&nbsp;<input id="parkname" type="text"  ng-model="parkname1" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

        规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;模&nbsp;&nbsp;&nbsp;&nbsp;<input id="parksize" type="text" placeholder="停车位总数量"  ng-model="parksize1" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

        收费标准&nbsp;&nbsp;&nbsp;&nbsp;<input id="price" type="text" placeholder="单位:元/小时"  ng-model="price1" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

        联系电话&nbsp;&nbsp;&nbsp;&nbsp;<input id="parkphone" type="text" placeholder="停车场联系电话"  ng-model="parkphone1" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

        地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址&nbsp;&nbsp;&nbsp;&nbsp;<input id="parkaddress" type="text" placeholder="停车场地址" ng-model="parkaddress1" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br><br>
        <button id="btnSub" type="submit" class="btn btn-success btn-lg" ng-click="savepark()" style="width: 210px;height: 40px;font-size: 15px;">保存</button>
        <p class="text-danger" style="color: red;" ng-bind="errorInfo"></p>
    </center>
   
  </div> 


  <div class="row-fluid" ng-show="quarycar"><br><br>
      <center><input id="parkid" type="text" autocomplete="off" placeholder="请输入车牌号" ng-model="carid" ng-click="clearErrorInfo()" style="width: 300px;height: 30px;font-size: 17px;margin-top: 10px;" />&nbsp;&nbsp;&nbsp;<button class="btn btn-success btn-lg" type="button" style="width: 50px;height: 40px;" ng-click="quary()">查询</button><p class="text-danger" style="color: red;" ng-bind="errorInfo"></p></center>
  
  <div style="width: 90%;" class="span12" ng-show="quarycarid" >
          <center><div class="page-header" style="font-size: 20px;" ng-model="carid"></div></center>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>用户</th>
                  <th>车牌号</th>
                  <th>进入时间</th>
                  <th>时长</th>
                  <th>金额</th>
                  <th>备注</th>
                </tr>
             </thead>
              <tbody>
                <tr  ng-repeat="obj in carrec" ng-style="{'background-color':($index%2==0)? 'default':'#DCDCE6'}">
                  <td ng-bind="$index+1">1</td>
                  <td ng-bind="obj.user_id">1</td>
                  <td ng-bind="obj.car_id">苏A99999</td>
                  <td ng-bind="obj.car_in">2018-04-22 12:00:00</td>
                  <td ng-bind="obj.duration">24小时</td>
                  <td ng-bind="obj.pay">100.00</td>
                  <td ng-bind="obj.status">已付款</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


  </div>

  <div class="row-fluid" ng-show="add"><br><br>
   <center><h1>请添加停车场！</h1></center>
  </div>
  

  <div class="row-fluid" ng-show="alterinfo"><center>
    <br><br><br>
        用户ID&nbsp;&nbsp;&nbsp;&nbsp;<input id="userid" type="text"  ng-model="userid" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" disabled/><br>

         用&nbsp;户&nbsp;名&nbsp;&nbsp;&nbsp;&nbsp;<input id="username" type="text" autocomplete="off" ng-model="username" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>
         
         手&nbsp;机&nbsp;号&nbsp;&nbsp;&nbsp;&nbsp;<input id="phone" type="text" autocomplete="off" ng-model="userphone" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>
         
         密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;&nbsp;&nbsp;<input id="password" type="password" ng-model="userpwd" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

         确认密码&nbsp;&nbsp;&nbsp;&nbsp;<input id="confirmpassword" type="password" placeholder="请输入再次输入密码"  ng-model="confirmpassword" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>
      <br>
      <button id="btnSub" type="submit" class="btn btn-success btn-lg" ng-click="saveinfo()" style="width: 210px;height: 40px;font-size: 15px;">保存</button>
      <p class="text-danger" style="color: red;" ng-bind="errorInfo"></p>
        </center>

  </div>


  <div class="row-fluid" ng-show="alterparkinfo">
   <center><br><br><br><br>

        停车场ID&nbsp;&nbsp;&nbsp;<input id="parkname" type="text"  ng-model="parkid" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" disabled/><br>

        停车场名称&nbsp;<input id="parkname" type="text"  ng-model="parkname" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

        规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;模&nbsp;&nbsp;&nbsp;&nbsp;<input id="parksize" type="text" placeholder="停车位总数量"  ng-model="parksize" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

        收费标准&nbsp;&nbsp;&nbsp;&nbsp;<input id="price" type="text" placeholder="单位:元/小时"  ng-model="price" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

        联系电话&nbsp;&nbsp;&nbsp;&nbsp;<input id="parkphone" type="text" placeholder="停车场联系电话"  ng-model="parkphone" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

        地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址&nbsp;&nbsp;&nbsp;&nbsp;<input id="parkaddress" type="text" placeholder="停车场地址" ng-model="parkaddress" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br><br>
        <button id="btnSub" type="submit" class="btn btn-success btn-lg" ng-click="savealter()" style="width: 210px;height: 40px;font-size: 15px;">保存更改</button>
        <p class="text-danger" style="color: red;" ng-bind="errorInfo"></p>
    </center>
  </div>


  <div class="row-fluid" ng-show="parkinfo">
      <div class="span9" >
          <center><div class="page-header" style="font-size: 20px;" ng-bind="parkname"></div></center>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>用户</th>
                  <th>车牌号</th>
                  <th>进入时间</th>
                  <th>时长</th>
                  <th>金额</th>
                  <th>备注</th>
                </tr>
             </thead>
              <tbody>
                <tr  ng-repeat="p in list" ng-style="{'background-color':($index%2==0)? 'default':'#DCDCE6'}">
                  <td ng-bind="p.id">1</td>
                  <td ng-bind="p.user_id">1</td>
                  <td ng-bind="p.car_id">苏A99999</td>
                  <td ng-bind="p.car_in">2018-04-22 12:00:00</td>
                  <td ng-bind="p.duration">24小时</td>
                  <td ng-bind="p.pay">100.00</td>
                  <td ng-bind="p.status">已付款</td>
                </tr>
              </tbody>
            </table>
            <div class="page" style="color: blue;">共<span ng-bind="data.length"></span>条记录
              <span><span ng-click="divList(0)" class="link">首页</span><span ng-click="divList(-1)" ng-show="currentPage > 0" class="link">上一页</span><span ng-click="divList(1)" ng-show="currentPage!=totalPage" class="link">下一页</span>
            </div>
          </div>
          <div class="span3" style="position: relative;top: 90px;">
            <div class="list-group" >
               <center><span class="list-group-item-text " style="font-size: 20px;">【停车场信息】</span><br><br></center>
               <div style="position: relative;left: 50px;width: 90%;font-size: 15px;">
                &nbsp;&nbsp;&nbsp;名称：<span class="list-group-item-text" ng-bind="parkname"></span><br>
                &nbsp;&nbsp;&nbsp;现有车位：<span class="list-group-item-text" ng-bind="parksize">0</span><br>
                &nbsp;&nbsp;&nbsp;可用车位：<span class="list-group-item-text" ng-bind="free">0</span><br>
                &nbsp;&nbsp;&nbsp;收费标准(元/小时)：<span class="list-group-item-text"  ng-bind="price">0</span><br>
             
                &nbsp;&nbsp;&nbsp;地址：<span class="list-group-item-text"  ng-bind="parkaddress">0</span><br>
                &nbsp;&nbsp;&nbsp;联系电话：<span class="list-group-item-text"  ng-bind="parkphone">0</span><br>
                &nbsp;&nbsp;&nbsp;管理员：<span class="list-group-item-text"  ng-bind="userid">0</span><br>
              </div>
                <center><button type="button" class="btn btn-lg btn-success" ng-click="Alterpark()">更改</button></center>
                
            </div>
          </div>
      </div>
  </div>

</div>
</body>
</html>
