<%include head%>
   <script src="/register-controller.js"></script>
<body>
<div class="container-fluid"  ng-controller="registerController">
  <div class="row-fluid">
    <div class="span12" style="color: white;background-color: black;">
      <h2 class="text-center">停车场数据管理系统</h2>
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container-fluid">
             <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
<div class="nav-collapse collapse navbar-responsive-collapse">
              <ul class="nav">
                <li class="active"><a href="/">首页</a></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="/login">登录</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="row-fluid" ng-controller="registerController1" ><center>
        <br><br><br>
         用&nbsp;户&nbsp;名&nbsp;&nbsp;&nbsp;&nbsp;<input id="username" type="text" autocomplete="off"   ng-model="username" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>
         
         手&nbsp;机&nbsp;号&nbsp;&nbsp;&nbsp;&nbsp;<input id="phone" type="text" autocomplete="off"   ng-model="phone" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>
         
         密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;&nbsp;&nbsp;<input id="password" type="password"  ng-model="password" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>

         确认密码&nbsp;&nbsp;&nbsp;&nbsp;<input id="confirmpassword" type="text" placeholder="请输入再次输入密码"  ng-model="confirmpassword" ng-click="clearErrorInfo()" style="width: 140px;height: 25px;font-size: 15px;" /><br>
            
        <form>
          用户类型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select ng-model="usertype" style="width: 150px;height: 30px;font-size: 12px;" >
                      <option value="">
                      <option value="common">普通用户
                      <option value="manager">停车场管理员
                  </select>
          </form><br>
      <br>
      <button id="btnSub" type="submit" class="btn btn-success btn-lg" ng-click="register()" style="width: 210px;height: 40px;font-size: 15px;">注册</button>
      <p class="text-danger" style="color: red;" ng-bind="errorInfo"></p>
        </center>
    </div>
</div>
</body>
</html>
