<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
    </title>
</head>
<body>
<% for(var i in messages) { %>
<div class="flash"><%= messages[i] %></div>
<% } %>
<form action="/api/cars/create" method="post">
    <div>
        <label>type:</label>
        <input type="text" name="type" />
    </div>
    <div>
        <label>color:</label>
        <input type="text" name="color" />
    </div>
    <div>
        <label>brand:</label>
        <input type="text" name="brand" />
    </div>
    <div>
        <input type="submit" value="添加" />
    </div>
</form>
</body>
</html>