<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<% if ( username ) { %>
<h2>Hello <%=username%> </h2>
<a href="/signout">Sign out</a>
<% } else { %>
<a href="/signup">Signup</a>
<a href="/signin">Signin</a>
<% } %>
</body>
</html>